# VS Code files
.vs/
.vscode/

# python
__pycache__/

# testing 
Aventine/
test_music/
tests/function_tests/
logs/
wiki_music_setup.log

# build dir
build/
dist/

# dir for file output
output/

# profiling stats
profiling/

# unique user files
files/google_api_key.txt