# VS Code files
.vs/
.vscode/

# python
__pycache__/

# testing 
tests/test_music/
tests/function_tests/
tests/offline_debug/

# install
wiki_music.egg-info/
build/
dist/

# build dir
freeze/build/
freeze/*dist/
freeze/upx/
freeze/wiki_music.spec
freeze/unnecessary_dependencies.txt
freeze/numpy-1.16.5+vanilla-cp37-cp37m-win_amd64.whl
freeze/*.zip

# dir for file output, profiling, logs
wiki_music/logs/

# unique user files
wiki_music/files/google_api_key.txt

# mypy typechecking folder
.mypy_cache

# deprecated
deprecated/

# exclude compiled files
*.py[cod]

# profiling
profile_data/

# built version of documentation
docs/_build/
docs/_static/
docs/_templates/

# PyPi tokens
.pypirc