# VS Code files
.vs/
.vscode/

# python
__pycache__/

# testing 
tests/test_music/
tests/function_tests/

# install
wiki_music.egg-info/
build/
dist/

# build dir
setup/build/
setup/*dist/
setup/wiki_music.spec
setup/unnecessary_dependencies.txt

# dir for file output, profiling, logs
wiki_music/output/
wiki_music/profiling/
wiki_music/logs/

# unique user files
wiki_music/files/google_api_key.txt

# data folder
wiki_music/data/

# mypy typechecking folder
.mypy_cache

# deprecated
deprecated/

# exclude compiled files
*.py[cod]

# built version of documentation
docs/_build/
docs/_static/
docs/_templates/