include README.md
include wiki_music/ui/*
include wiki_music/files/*
global-exclude wiki_music/files/google_api_key.txt
global-exclude wiki_music/files/MP3_TAG_PATH.txt
global-exclude wiki_music/data/*
